# Node modules
node_modules/

# Env files
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Frontend build
frontend/build/

# Optional: Editor files
.vscode/
.idea/
